/********************************** START => OVERRIDE DEFAULT BOOTSTRAP CSS ************************************************/
body {
    background: #FFFFFF url("../img/body-bg.png") repeat scroll 0 0;
    margin: 0;
    font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}

a								{ cursor: pointer; }
a:hover							{ text-decoration: none; }
h1 								{ margin-bottom: 0.25em; }
h2 								{ color: #4A515B; margin-bottom: 0.5em; }
hr 								{ border-top-color: #DDDDDD; }

.btn, .form-control {
    border-radius: 0 !important;
}

textarea {
	box-shadow: 0 1px 5px #999999 inset;
    padding: 10px;
}

/********************************** END => OVERRIDE DEFAULT BOOTSTRAP CSS ************************************************/



/********************************** START => OVERRIDE DEFAULT KENDO UI CSS ************************************************/


/********************************** END => OVERRIDE DEFAULT KENDO UI CSS ************************************************/

/********************************** START => HELPER CSS ************************************************/

.error      { color: #FF0000; }
.green		{ color: #468847; }
.red		{ color: #FF0000; }
.bold 		{ font-weight: bold; }
.inline		{ display: inline; }
.textLeft 	{ text-align: left; }
.textRight 	{ text-align: right; }

.block {
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 2px 9px 0px #CCCCCC;
	margin-bottom: 15px;
	padding: 10px;
}

.blank-page-msg {
	height: 50px;
    padding-top: 30px;
}

.login-container {
	margin: 160px auto 0;
	width: 425px;
}
.content {
    background-color: #FFFFFF;
    border: 1px solid #D5D5D5;
    font-family: 'Lucida Sans Unicode','Lucida Grande',arial,helvetica,sans-serif;
    margin-bottom: 15px;
    min-height: 370px;
    padding: 20px 15px 15px;
}

ul.flexipage {
	margin: 0;
}

a:focus, select:focus {
	outline: none; 
}

button::-moz-focus-inner {
	border: 0;
}

.tbl-shoppingBag tbody tr td.productSerialFields {
	border: none;
	margin: 0;
	padding: 0;
}

.printNow {
	display: inline-block;
}

.printNow a {
	font-size: 14px;
	color: red;
}

/********************************** END => HELPER CSS ************************************************/

/********************************** START => WIDGET CSS ************************************************/

.widget {
	margin-bottom: 10px;
	box-shadow: 0 3px 9px 0px #CCCCCC;
}
.widget-header {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, #FFFFFF 0%, #F5F5F5 100%) repeat scroll 0 0 transparent;
    border-image: none;
    border: 1px solid #C9C9C9;
    border-bottom-width: 0;
    box-shadow: 0 1px 0 #FFFFFF inset;
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
}
.widget-body {
	background-color: #FDFDFD;
    border: 1px solid #C9C9C9;
    box-shadow: 0 1px 0 #FFFFFF inset;
    padding: 15px 15px 0;
	min-height: 230px;
}

/********************************** END => WIDGET CSS ************************************************/

/********************************** START => DASHBOARD CSS ************************************************/

.button1 {
    background: url("../img/cpanel/user_info_48.png") no-repeat scroll 0 top transparent;
}
.button2 {
    background: url("../img/cpanel/user_48.png") no-repeat scroll 0 top transparent;
}
.button3 {
    background: url("../img/cpanel/customer_male_light_48.png") no-repeat scroll 0 top transparent;
}
.button4 {
    background: url("../img/cpanel/inventory_48.png") no-repeat scroll 0 top transparent;
}
.button5 {
    background: url("../img/cpanel/invoice_48.png") no-repeat scroll 0 top transparent;
}
.button6 {
    background: url("../img/cpanel/office_bag_48.png") no-repeat scroll 0 top transparent;
}
ul.cpanel li {
	-webkit-box-shadow: inset 0px 1px 0px 0px #fff;
	box-shadow: inset 0px 1px 0px 0px #fff;
	text-align: center;
	list-style: none;
	display: inline-block;
	margin: 0 2px 15px 0;
	background: #f9f9f9;
	background: -moz-linear-gradient(top, #f9f9f9 0%, #efefef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#efefef));
	background: -webkit-linear-gradient(top, #f9f9f9 0%,#efefef 100%);
	background: -o-linear-gradient(top, #f9f9f9 0%,#efefef 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%,#efefef 100%);
	background: linear-gradient(top, #f9f9f9 0%,#efefef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#efefef',GradientType=0 );
	border: 1px solid #e2e2e2;
}
ul.cpanel li a .label{
	position: absolute;
	right: -5px;
	top: -5px;
}
ul.cpanel li a {
	position: relative;
	display: block;
	padding: 60px 8px 8px;
	width: 100px;
	font-size: 12px;
	color: #222;
	background-repeat: no-repeat;
	background-position: center 10px;
}
ul.cpanel li a:hover {
	text-decoration: none;
}
ul.cpanel li:hover {
	border-color:#d2d2d2;
	-moz-box-shadow: 0 0 6px #ccc;
	-webkit-box-shadow: 0 0 6px #ccc;
	box-shadow: 0 0 6px #ccc;
}

/********************************** END => DASHBOARD CSS ************************************************/

/* Activity Indicator */

#container-spinner {
	background: none repeat scroll 0 0 #333333;
    color: #FFFFFF;
    height: 110px;
    width: 150px;
    left: 50%;
    margin: 8% 20px 20px -110px;
    position: absolute;
}


/********************************** START => PRODUCT CATEGORY CSS ************************************************/

.categoryBlock {
	width: 354px;
	display: inline-block;
}

/********************************** END => PRODUCT CATEGORY CSS ************************************************/

#grand-total-label {
	width: 135px;
}


/********************************** START => PRODUCT NOTIFICATION CSS ************************************************/
.label-notification {
	color: black;
    font-weight: normal;
    padding: 5px;
    text-align: center;
    width: 100px;
}

/********************************** END => PRODUCT NOTIFICATION CSS ************************************************/

/********************************** START => TOASTR CSS ************************************************/

#toast-container > div {
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
    -ms-opacity: 1 !important;
    opacity: 1 !important;
    width: 335px !important;
}

/********************************** END => TOASTR CSS ************************************************/